.access {
    min-height: 690px;
    padding: 80px 0;
    &__square {
        width: 302px;
        height: 302px;
        margin: 0 auto;
        position: relative;
    }
    &__click {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translateX(-50%) translateY(-50%);
        width: 240px;
        height: 240px;
        img {
            max-width: 100%;
        }
    }
    &__square-corners {
        position: relative;
        width: 302px;
        height: 302px;
        span {
            position: absolute;
            width: 40px;
            height: 2px;
            background-color: $main-color;
            border-radius: 2px;
        }   
        &-vertical {
            left: -19px;
            top: 19px;
            transform: rotate(90deg);
            float: left;
            &_bottom-left {
                bottom: 19px;
                top: auto;
            }
            &_top-right {
                float: right;
                right: -19px;
                left: auto;
            }
            &_bottom-right {
                float: right;
                right: -19px;
                bottom: 19px;
                top: auto;
                left: auto;
            }
        }
        &-horizontal {
            left: 0;
            top: 0;
            float: left;
            &_bottom-left {
                    bottom: 0;
                    top: auto;
                }
            
                &_top-right {
                    float: right;
                    right: 0;
                    left: auto;
                }
            
                &_bottom-right {
                    float: right;
                    right: 0;
                    bottom: 0;
                    top: auto;
                    left: auto;
                }
        }
    }
}