.main {
    a {
        transition: 0.3s all;
        &:hover {
            color: $main-color;
        }
    }
    &__branches {
        display: flex;
        justify-content: space-between;
        height: 85px;
        padding: 19px 0 16px 0;
    }
    &__item {
        width: 230px;
        display: flex;
    }
    &__flag {
        margin-left: 0;
        width: 28px;
        height: 21px;
    }
    &__text {
        margin-left: 11px;
        a {
            display: block;
            font-size: 12px;
            font-weight: 300;
            text-decoration: none;
            color: #242424;
        }
    }
    &__country {
        font-size: 14px;
        line-height: 18px;
        font-weight: 700;
        color: #242424;
    }
}