.with {
    min-height: 896px;
    padding: 79px 0 81px 0;
    &__wrapped {
        display: flex;
        justify-content: space-between;
        &_mt {
            margin-top: 37px;
        }
    }
    &__item {
        position: relative;
        width: 360px;
        height: 255px;
    }
    &__img {
        width: 360px;
        height: 255px;
        img {
            max-width: 100%;
        }
    }
    &__descr {
        width: 237px;
        padding: 0;
        position: absolute;
        bottom: 36px;
        left: 50%;
        transform: translateX(-50%);
        text-align: center;
        font-size: 18px;
        line-height: 26px;
        font-weight: 300;
        color: #393939;
        &_bold {
            font-weight: 700;
        }
    }
    &__arrow {
        margin: 0 auto;
        margin-top: 50px;
        width: 169px;
        height: 72px;
        position: relative;
        &-left {
            position: absolute;
            background-color: #ececec;
            top: 48px;
            left: -5px;
            width: 96px;
            height: 1px;
            display: block;
            transform: rotate(30deg);
            float: right;
            border-radius: 2px;
        }
        &-right {
            position: absolute;
            background-color: #ececec;
            top: 48px;
            left: 79px;
            width: 96px;
            height: 1px;
            display: block;
            transform: rotate(-30deg);
            float: right;
            border-radius: 2px;
        }
        &-second {
            top: 26px;
        }
    }
    &__header {
        margin-top: 33px;
        margin-bottom: 0;
        font-size: 48.1px;
        line-height: 37px;
        font-weight: 700;
        color: #393939;
        text-align: center;
    }
}