@import "libs/bootstrap-reboot.min";
@import "fonts.scss";
@import "base/mixins";
@import "base/variables";

* {
    font-family: 'Roboto', sans-serif;
}
.container {
    width: 1140px;
    margin: 0 auto;
}

@import "blocks/main";
@import "blocks/header";